* {
    margin: 0;
    padding: 1;
}
.header {
    padding: 30px;
    text-align: center;
    background: #add8e6;
    color: #557d34;
    font-size: 30px;
    font-family: "Comic Sans", "Comic Sans MS", cursive;
}
h1 {
    color: #010824;
    text-align: center;
    font-family: fantasy;
}
body {
    background-color: #add8e6;
    text-align: center;
}
hr {
    border-width: thick;
    margin: 0 auto;
}
button:hover {
  box-shadow: 0.3em 0.3em 0.3em #777777;
}
button {
  display: inline-block;
  margin: auto;
  margin-left: 1%;
  margin-right: 1%;
  height: 40px;
  width: 125px;
  font: 25px "Comic Sans", "Comic Sans MS", cursive;
}
#myInput {
  height: 25px;
  width: 500px;
}
