* {
    margin: 0;
    padding: 1;
}
h1 {
  color: #cf0b0b;
  text-align: center;
  font-family: cursive;
}
h2 {
  color: yellow;
  text-align: center;
  font-family: cursive;
}
body {
    background-color: #557d34;
    text-align: left;
}
.header {
    padding: 60px;
    text-align: center;
    background: #2edbc7;
    color: #557d34;
    font-size: 30px;
    font-family: cursive;
}
.footer {
  padding: 30px;
  text-align: center;
  background: #011f4b ;
  color: white;
  font-size: 30px;
  font-family: cursive;
}
